@page "/"
@rendermode InteractiveServer

@using MediatR
@using Morris.Blazor.Validation
@using NbpApp.Utils.Utils
@using NbpApp.Web.Logic

<PageTitle>Nbp gold prices</PageTitle>
<EditForm Model=@request OnValidSubmit=FetchGoldPrices >
    <Validate />

    <div class="mb-3">
        <div class="form-floating mb-3">
            <InputDate class="form-control" @bind-Value="request.StartDate" />
            <label>Start date</label>
            <ValidationMessage For=@(() => request.StartDate) />
        </div>

        <div class="form-floating mb-3">
            <InputDate class="form-control" @bind-Value="request.EndDate" />
            <label>End date</label>
            <ValidationMessage For=@(() => request.EndDate) />
        </div>

        <button class="btn btn-primary @(isLoading ? "disabled" : "")" type="submit">Fetch gold prices</button>
    </div>
</EditForm>

@if (result?.IsSuccess == true)
{
    <div class="mb-3">
        <h3>Results:</h3>
        <p>Start date price: @result.StartDatePrice.ToString("F2")</p>
        <p>End date price: @result.EndDatePrice.ToString("F2")</p>
        <p>Average price: @result.AveragePrice.ToString("F2")</p>
    </div>
}

<ErrorMessage Result="@result" />
<Loader IsVisible="@isLoading" />


@inject IMediator Mediator
@inject ITimeProvider TimeProvider

@code {
    private GetAndSaveGoldPrices.Command request;
    private GoldPriceResult? result;
    private bool isLoading;

    protected override void OnInitialized() => request = new()
    {
        StartDate = TimeProvider.CurrentDate.AddDays(-30),
        EndDate = TimeProvider.CurrentDate
    };

    private async Task FetchGoldPrices()
    {
        isLoading = true;
        result = null;

        result = await Mediator.Send(request);
        isLoading = false;
    }
}